

<div class="container" >
  <div class="row">
      <div class="col-md-7">
          <h1>{{single[0].name4}}</h1>

          <h5>{{single[0].description}}</h5>
          <h1>{{single[0].des}}</h1>
          <h5>{{single[0].des1}}</h5>
          <h1>{{single[0].des2}}</h1>
          <h5>{{single[0].des3}}</h5>

          


      </div>
      <div class="col"><br><br>
          <img src="{{single[0].img4}}" height="400px" width="400px" alt="">
          <h1>{{single[0].price}}</h1>
      </div>
      <div  class="price">
    
        </div>
      </div>
  </div>


<!-- <div style="display: block;clear: both;padding-top: 90px;">Image Source: 500px website</div> -->