
<div class="container" >
  <div class="row">
      <div class="col-md-7">
          <h1>{{singleherbss[0].name7}}</h1>

          <h5>{{singleherbss[0].description7}}</h5>
          <br>
          <br>
          <h2>{{singleherbss[0].des7}}</h2>
          <h5>{{singleherbss[0].des8}}</h5>


          


      </div>
      <div class="col"><br><br>
          <img src="{{singleherbss[0].img7}}" height="400px" width="400px" alt="">
          <h1>{{singleherbss[0].price3}}</h1>
      </div>
  </div>
</div>