<section class="contact-area" id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3">
				<div class="contact-content text-center">
					<h1>FINE FARM</h1>
					<!-- <a href="#"><img src="https://i.ibb.co/QDy827D/ak-logo.png" alt="logo"></a> -->
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum </p> -->
					<div class="hr"></div>
					<h6>The seed is the embryonic stage of the plant life cycle,Thiruvalla</h6>
					<h6>+7510134451<span>|</span>+8547560441</h6>
					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =============== 1.9 Contact Area End ====================-->
<!-- =============== 1.9 Footer Area Start ====================-->
<footer>
	<p>Copyright &copy; FineFarm.</p>
</footer>