/* #b {
    color: rgb(105, 105, 249);
    border-color: rgb(105, 105, 249);
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
} */

body{
  margin: 0;
   padding: 0;
   font-family: "open sans",sans-serif;
 background: #F4F4F4;
  background-size: cover;
  height: 100%;
  color: black;
  font-size: large;
  /* background-image:url(https://cdn.shopify.com/s/files/1/1380/2059/articles/Feat-Image_1100x1100.jpg?v=1594124414) ; */
  /* background-color: #7E7C7A; */

}
.about-section{
  width: 70%;
background:#fff;
  padding: 40px 0;
  margin-left: auto;
  margin-right:auto;
  margin-top: 170px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
border-radius: 30px;
border-left: 50px solid #3CEDA7;
border-right: 50px solid #3CEDA7;


}
.inner-width{
  max-width: 1000px;
  overflow: hidden;
  padding: 0 20px;
  margin: auto;
}
.about-section h1{
  text-align: center;
}
.border{
  width: 100px;
  height: 3px;
  background: #3CEDA7;
  margin: 40px auto;
}
.about-section-row{
  display: flex;
  flex-wrap: wrap;
}
.about-section-col{
  flex: 50%;
}
.about{
  padding-right: 30px;
}
.about p{
  text-align: justify;
  margin-bottom: 20px;
  color: #1b1b1a;
  font-size: large;
  font-size: 17px;
}
.about a{
  display: inline-block;
  color: #7E7C7A;
  text-decoration: none;
  border: 2px solid #3CEDA7;
  border-radius: 24px;
  padding: 8px 40px;
  transition: 0.4s linear;
}
.about a:hover{
  color: #fff;
  background: #3CEDA7;
}
.skills{
  padding-left: 30px;
}
.skill{
  margin-bottom: 10px;
}
.title{
  color: #7E7C7A
}
.progress{
  width: 100%;
  height: 12px;
  background: #ddd;
  border-radius: 12px;
}
.progress-bar{
  height: 12px;
  background: #3CEDA7;
  border-radius: 12px;
}
.p1{
  width: 90%;
}
.p2{
  width: 70%;
}
.p3{
  width: 50%;
}
.progress-bar span{
  float: right;
  margin-right: 6px;
  line-height: 13px;
  color: #fff;
  font-size: 12px;
}
@media screen and (max-width:700px) {
  .about-section-col{
    flex: 100%;
    margin: 10px 0;
  }
  .about,.skills{
    padding: 0;
  }
  .about{
    text-align: center;
  }
}


* {
    box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(15, 15, 15);
  }
  
  .wrapper {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center; /* Center child elements vertically */
    margin: 0 auto; /* Center wrapper horizontally */
  }
  
  .card {
    width: 280px;
    height: 360px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: opacity 0.5s;
    opacity: 0;
  }
  
  .card:hover:before {
    opacity: 1;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  
  .card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .card:hover .info {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .card h1 {
    margin: 0px;
    font-size: 24px;
  }
  
  .card p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
  }
  
  .card button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s ease;
    margin-top: 1rem;
  }
  
  .card button:hover {
    background-color: dodgerblue;
    color: white;
  }




* {
    box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
  }
  
  .wrapper {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center; /* Center child elements vertically */
    margin: 0 auto; /* Center wrapper horizontally */
  }
  
  .card {
    width: 280px;
    height: 360px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: opacity 0.5s;
    opacity: 0;
  }
  
  .card:hover:before {
    opacity: 1;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }
  
  .card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .card:hover .info {
    opacity: 1;
    transform: translateY(0px);
  }
  
  .card h1 {
    margin: 0px;
    font-size: 24px;
  }
  
  .card p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
  }
  
  .card button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s ease;
    margin-top: 1rem;
  }
  
  .card button:hover {
    background-color: dodgerblue;
    color: white;
  }



  .gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-image img {
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  
  .img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
  }
  
  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .transparent-box {
    height: 250px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .img-box:hover img { 
    transform: scale(1.1);
  }
  
  .img-box:hover .transparent-box {
    background-color:rgba(0, 0, 0, 0.5);
  }
  
  .img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  
  .img-box:hover {
    cursor: pointer;
  }
  
  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }
  
  .opacity-low {
    opacity: 0.5;
  }