
<!-- <header> -->
  <!-- <a href="#" id="logo">Logo</a> -->
<!-- </header> -->

<section id="hero1" class="hero">
  <div class="inner">
    <div class="copy">
    <h1>WELCOME TO FINE FARM</h1>
    <!-- <h1> FINE FARM </h1> -->
    </div>
  </div>
</section>

<section class="content">
  <div class="inner">
    <div class="copy">
    <h1>When seeds want to rise they drop everything that is weighing them down!</h1>
    
    </div>
  </div>
</section>

<section id="hero2" class="hero">
  <div class="inner">
    <div class="copy">
    <h1>A seed neither fears light nor darkness, but uses both to grow</h1>
   </div>
  </div>
</section>
  
<section class="content">
  <div class="inner">
    <div class="copy">
    <h1>---graine---</h1>
    </div>
  </div>
</section>

<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>