


   
<div class="container" >
  <div class="row">
      <div class="col-md-7">
          <h1>{{singlefruit[0].name5}}</h1>

          <h5>{{singlefruit[0].description5}}</h5>
          <h1>{{singlefruit[0].des4}}</h1>
          <h5>{{singlefruit[0].des5}}</h5>
          <h1>{{singlefruit[0].des6}}</h1>
          <h5>{{singlefruit[0].des7}}</h5>

         



      </div>
      <div class="col"><br><br>
          <img src="{{singlefruit[0].img5}}" height="400px" width="400px" alt="">
          <h1>{{singlefruit[0].price2}}</h1>
      </div>
  </div>
</div>
 